/*General*/
:root {
  --pink: #ff0080;
  --white: #fffffe;
  --black: #0d0d0d;
  --purple: #624cab;
  --gray: rgba(248, 248, 248, 1);
  --shadowblack: rgba(0, 0, 0, 0.13);
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 15px;
  scroll-behavior: smooth;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

/* NavBar Style */
.nav-contact-links {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
}

.nav-link {
  margin: 0 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--pink);
  font-size: 21px;
  align-items: center;
  z-index: 99;
}

.nav-list a:hover {
  color: var(--purple);
  transition: color 0.3s ease-out;
}

ul {
  list-style: none;
  text-align: center;
}

.nav-list {
  display: flex;
  margin-right: 1rem;
}

/*Main Style*/
main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Acme", serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--black);
  text-align: center;
  margin: 0;
  background-color: var(--white);
  background-image: url("https://i.pinimg.com/originals/92/34/5e/92345e0e7a103985b1601b477527281d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.page-head {
  background-color: var(--pink) !important;
  color: var(--white) !important;
  padding-top: 80px;
  padding-bottom: 10px;
}

.home-welcome {
  padding-top: 140px;
}

section {
  display: block;
}

p {
  color: var(--black);
  font-family: "Asap Condensed", serif;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 100px;
}

h1 {
  color: var(--white);
  margin: 30px auto 0px;
  font-size: 70px;
  text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
    -1px 1px 0 var(--black), 1px 1px 0 var(--black);
}

h2 {
  color: var(--black);
  font-size: 40px;
  font-weight: normal;
}

h4 {
  color: var(--black);
  margin: 30px auto;
  font-size: 30px;
}

h5 {
  color: var(--black);
  margin: 30px auto;
  font-size: 16px;
}

h6 {
  font-size: 30px;
  text-align: left !important;
  line-height: initial;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

.spotify {
  width: 45%;
}

/* Theatre + Tv&Film pages */

.project-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
}

.project-info {
  position: absolute;
  font-size: smaller;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: none;
}

.project-text {
  color: var(--white) !important;
  margin-top: 33%;
}

.project-image:hover + .project-info,
.project-info:hover {
  display: block;
}

/*Video Main Style*/

iframe {
  display: block;
  margin: 60px auto;
}

.video-main {
  max-width: 560px;
  max-height: 315px;
  width: 80vw;
  height: calc(80vw / 1.77);
}

.video-home {
  display: block;
  background-color: transparent;
}

/*Links Style*/

a {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: none;
  color: var(--purple);
}

/* Spotlight + Elenco Digital */

.casting-btn {
  width: 50vw;
  transform: scale(1.2, 1.2);
  margin: auto;
  display: block;
  margin-bottom: 15px;
}

.casting {
  text-decoration: none;
}

.casting-2 {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  max-width: 100%;
  padding: 4px 6px;
  border-radius: 17.5px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: Source Sans Pro, sans-serif;
}

.icone-casting {
  height: 27px;
  width: 27px;
}

.container-casting {
  font-size: 14px;
  color: #4e4d92;
  padding-bottom: 1px;
  margin: 0 4px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

/*Footer Style*/
footer {
  background-color: transparent;
  text-align: center;
  margin: 0;
  margin-top: 25px;
  width: 100vw;
  z-index: 99;
  position: absolute;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contact-link {
  margin: 0 1rem;
}

.madeby {
  font-size: 1vw;
  float: right;
  margin-right: 2vw;
  margin-bottom: 10px;
}

/* APP */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
  .navbar-mini {
    display: block !important;
  }

  h1 {
    font-size: 11vw !important;
    margin-top: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  .spotify {
    width: 75% !important;
  }

  .page-head {
    padding-top: 50px;
  }

  .spotify {
    width: 50%;
  }

  .project-image {
    height: 48vw;
  }

  .projects-grid {
    grid-gap: 2vw;
  }

  .project-title {
    font-size: 18px !important;
    margin-bottom: 10px;
  }

  .project-section {
    padding: 0 2vw;
  }
}

.navbar-mini {
  display: none;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 21px;
  align-items: center;
  z-index: 99;
  background-color: var(--pink);
  padding-top: 5%;
  padding-bottom: 2%;
}

.navmini-link {
  font-size: 32px;
  margin: auto 10px;
}
